.DS_Store
~$*.docx
OpenLoopDesign/Simulations/LinkwitzTHOR/*.log
OpenLoopDesign/Simulations/LinkwitzTHOR/*.raw
OpenLoopDesign/Simulations/LinkwitzTHOR/*.imp
BOM/PLPW6D.sb-dde5747c-7zYC4d
OpenLoopDesign/Simulations/PylePLPW6D/*.log
OpenLoopDesign/Simulations/PylePLPW6D/*.raw
OpenLoopDesign/Simulations/PylePLPW6D/*.imp
