.DS_Store
~$*.docx
OpenLoopDesign/Simulations/LinkwitzTHOR/*.log
OpenLoopDesign/Simulations/LinkwitzTHOR/*.raw
OpenLoopDesign/Simulations/LinkwitzTHOR/*.imp
BOM/PLPW6D.sb-dde5747c-7zYC4d
OpenLoopDesign/Simulations/PylePLPW6D/*/*.log
OpenLoopDesign/Simulations/PylePLPW6D/*/*.raw
OpenLoopDesign/Simulations/PylePLPW6D/*/*.imp
OpenLoopDesign/Simulations/PylePLPW6D/*/*.plt
OpenLoopDesign/Simulations/LTSpice/*/*/*/*.log
OpenLoopDesign/Simulations/LTSpice/*/*/*/*.raw
OpenLoopDesign/Simulations/LTSpice/*/*/*/*.plt
OpenLoopDesign/Simulations/LTSpice/*/*.log
OpenLoopDesign/Simulations/LTSpice/*/*.raw
OpenLoopDesign/Simulations/LTSpice/*/*.plt
OpenLoopDesign/Plots/RawData/10-100/slprj/*
Deliverables/EngagementVideo/Editing/*
slrpj/*
Design/Plots/open_loop_sim_data.mat
Design/Plots/closed_loop_sim_data.mat
